<div class="container-notFound container-notFound min-h-screen flex flex-col items-center justify-center bg-black text-white ">
  <img src="./erreur404-frigomiam.png" alt="img-erreur404" class="rounded-full mb-8 w-120 h-120 object-cover">

  <div class="text-notFound text-center">
    <h3 class="text-2xl text-custom-blue font-bold mb-4">Ouups, <br>ERREUR 404 <br> vous êtes tombés sur la page des recettes qui pétes !!!</h3>

    <p><a routerLink="/" class="text-custom-blue hover:underline">Vous pouvez retourné à la page d'acceuil</a></p>
  </div>
</div>
