<header class="border-b border-gray-300 shadow-md bg-[#fcf3f1]">
  <div class="flex flex-col lg:flex-row justify-between items-center p-4">
    <div class="logoWeb mb-4 lg:mb-0">
      <img id="logo" class="w-[10em] h-auto max-h-[6em] object-contain" src="./logo_frigomiam.png" alt="logo" />
    </div>
    <div class="navWeb w-full lg:w-auto text-center">
      <app-nav></app-nav>
    </div>
  </div>
</header>

<main class="bg-[#fcf3f1]">
  <router-outlet></router-outlet>
</main>

<footer class="bg-[#fcf3f1]">
  <app-footer></app-footer>
</footer>
