<div class="min-h-screen flex flex-col bg-[#fcf3f1]">
  <header class="border-b border-gray-300 shadow-md bg-[#fcf3f1]">
    <div class="flex flex-col lg:flex-row justify-between items-center p-4">
      <div class="logoWeb mb-4 lg:mb-0">
        <a><img id="logo" class="w-[10em] h-auto max-h-[6em] object-contain" src="./logo_frigomiam.png" alt="logo" /></a>
      </div>
      <div class="navWeb w-full lg:w-auto text-center">
        <app-nav></app-nav>
      </div>
    </div>
  </header>

  <main class="flex-grow bg-[#fcf3f1]">
    <router-outlet></router-outlet>
  </main>

  <footer class="bg-[#289e8d] text-[#fcf3f1] py-6 text-center">
    <app-footer></app-footer>
  </footer>
</div>

