<div class="imgHeader">
  <a routerLink="/">
  <img src="../miam.png" alt="plate of ingredient"  class="w-full h-auto sm:h-64 md:h-80 lg:h-96 object-cover"/>
  </a>
</div>
<app-ingredient-search (clickEvent)="addIngredient($event)"></app-ingredient-search>
@if (allUserIngredients.length != 0) {
  <app-ingredient-list-home [ingredientList]="allUserIngredients" (ingredientDeleted)="onIngredientDeleted($event)"></app-ingredient-list-home>
}
<!-- <div class="w-full flex justify-center mt-4">
  <button class="bg-[#BD4F37] text-white py-2 px-4 rounded-lg shadow-lg hover:bg-[#1f7f6d] transition duration-300 mb-4" (click)="getRecipesBasedOnIngredients()">Chercher Recette</button>
</div> -->
<hr>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-7 mt-4 mb-4 max-w-7xl mx-auto">
  @for(recipe of allRecipeCardsData; track recipe) {
    <app-recipe-card-short [recipeCardData]="recipe"></app-recipe-card-short>
  }
</div>


