<div class="create-recipe">
  <h1>Créer ta recette</h1>
  <div class="registerRecipe">
    <form  [formGroup]="createRecipe" (ngSubmit)="submitRecipe()">
      <div class="title">
        <label for="titleRecipe">Titre de votre recette</label>
        <input type="text" id="titleRecipe"  formControlName="titleRecipe" >
      </div>

      <div class="description">
        <label for="descript">Préparation</label>
        <textarea id="descript" formControlName="description" ></textarea>
      </div>

      <div class="instructions">
        <label for="instructions">Instructions</label>
        <textarea id="instructions" formControlName="instructions" ></textarea>
      </div>

      <div class="preparation_time">
        <label for="preparation_time">Temps de préparation</label>
        <input type="number" id="preparation_time"  formControlName="preparation_time">
      </div>

      <div class="cooking_time">
        <label for="cooking_time">Temps de cuisson</label>
        <input type="number" id="cooking_time"  formControlName="cooking_time">
      </div>

      <div class="calories">
        <label for="calories">Calories</label>
        <input type="number" id="calories"  formControlName="calories">
      </div>
      <div>

        <label for="diet">Régime alimentaire</label>
          <select id="diet" formControlName="diet">

            <option ></option>

          </select>
      </div>




      <fieldset class="addQt" formArrayName="addQt">
        @for (ingredient of  createRecipe.controls.addQt.controls; track ingredient){
        <fieldset class="containAdd" [formGroupName]="$index">
        <div class="ingredient">
          <label for="ingredient">Ingrédient</label>
          <input type="text" id="ingredient" formControlName="ingredient">
        </div>
        <div class="quantity">
          <label for="quantity">Quantité</label>

          <input type="number" id="quantity" formControlName="quantity" >
        </div>


        </fieldset>}
        <button type="button" (click)="addIngredient()">Ajouter</button>

        <!--        <div class="ingredientListAdd">-->
<!--          @for (ingredient of createRecipe.controls.addQt ; track ingredient){-->
<!--            <ul>-->
<!--              <li>{{ingredient}}</li>-->
<!--            </ul>-->
<!--          }-->

<!--        </div>-->
      </fieldset>







      <button type="submit">Valider</button>
    </form>
  </div>
</div>

