<form (ngSubmit)="addIngredient()">
  <p>
    <label for="ingredientInput">Renseigner ingrediant</label>
    <input id="ingredientInput" [formControl]="ingredient_control"  list="ingredientOptions"/>
  </p>

  <datalist id="ingredientOptions">
    <option *ngFor="let possibility of filteredPossibilities" [value]="possibility"></option>
  </datalist>

  @if(ingredient_control.invalid && !ingredient_control.untouched) {
    @if(ingredient_control.hasError('required')) {
      <span class="error">Champs obligatoire !</span>
    } @else {
      <span class="error">Format invalide !</span>
    }
  }


  <div>
    <button >Add</button> <!-- type="submit" -->
  </div>
</form>
