<nav class="w-full text-center lg:w-auto">
  <ul class="flex justify-center items-center space-x-4">
    <li>
      <a routerLink="/" class="text-[#bd4f37] hover:border-t-2 hover:border-[#289e8d] hover:text-[#289e8d] transition duration-300">Accueil</a>
    </li>
    <li class="relative">
      @if (!isAuthentified) {
        <li>
          <a routerLink="/connexion" class="text-[#bd4f37] hover:border-t-2 hover:border-[#289e8d] hover:text-[#289e8d] transition duration-300">Se connecter</a>
        </li>
      } @else {
        <button (click)="toggleMenu()" class="text-[#bd4f37] hover:border-t-2 hover:border-[#289e8d] hover:text-[#289e8d] transition duration-300">User</button>
      }
      @if (isUserMenuOpen && isAuthentified) {
        <ul class="absolute right-0 mt-2 w-48 bg-white shadow-lg">
          <li><a routerLink="/profile" class="text-[#bd4f37] hover:border-t-2 hover:border-[#289e8d] hover:text-[#289e8d] transition duration-300">Profil</a></li>
          <li><a routerLink="/frigo" class="text-[#bd4f37] hover:border-t-2 hover:border-[#289e8d] hover:text-[#289e8d] transition duration-300">Frigo</a></li>
          <li><a routerLink="/recette" class="text-[#bd4f37] hover:border-t-2 hover:border-[#289e8d] hover:text-[#289e8d] transition duration-300">Recette</a></li>
        </ul>
      }
    </li>
    <li>
      <a routerLink="/admin" class="text-[#bd4f37] hover:border-t-2 hover:border-[#289e8d] hover:text-[#289e8d] transition duration-300">Administration</a>
    </li>
  </ul>
</nav>



