<nav class="fixed top-0 right-0 p-4">
  <ul class="flex items-center space-x-4">
    <li>
      <a routerLink="/" class="text-gray-800 hover:text-blue-500">Accueil</a>
    </li>
    <li class="relative">
      @if (!isAuthentified) {


        <li>
          <a routerLink="/connexion">Se connecter</a>
        </li>
      } @else {
        <button (click)="toggleMenu()" class="text-gray-800 hover:text-blue-500"  >User</button>
      }


      @if (isUserMenuOpen && isAuthentified ){
        <ul  class="">

          <li><a routerLink="/profile" class=" ">Profil</a></li>
          <li><a routerLink="/frigo" class="">Frigo</a></li>
          <li><a routerLink="/recette" class="">Recette</a></li>
        </ul>
      }


    </li>
    <li>
      <a routerLink="/admin" class="text-gray-800 hover:text-blue-500">Administration</a>
    </li>
  </ul>
</nav>

