<div class="connexionAdmin">
  <h1>Se connecter</h1>
  <form [formGroup]="formConnect" (ngSubmit)="connectSubmit()">
    <div class="email">
      <label for="email">Identifiant utilisateur :</label>
      <input type="email" id="email" placeholder="Veuillez entrer votre identifiant" formControlName="email" required>
    </div>
    <div class="pass-User">
      <label for="password">Mot de passe:</label>
      <input type="password" id="password" placeholder="Veuillez entrer votre mot de passe" formControlName="password" required>
    </div>
    <div>
      <button type="submit">Connexion</button>
    </div>
  </form>
</div>
