<div class="connexionUser">
  <h1>Se connecter</h1>
<form [formGroup]="formConnect" (ngSubmit)="connectSubmit()" >
  <div class="email">
    <label for="email">Identifiant utilisateur : </label>
    <input type="email" id="email" placeholder="Veuillez entrez votre identifiant"  formControlName="id-user" required>

  </div>
  <div class="pass-User">
    <label for="password">Mot de passe: </label>
    <input type="password" id="password" placeholder="Veuillez entrez votre mot de passe" formControlName="password" required>

  </div>
  <div>
    <button type="submit">Connexion</button>
  </div>
</form>

  <button (click)="subscribeAccount()"><a routerLink="/inscription">Inscription</a></button>
</div>
